* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* shared style */

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

#banner .banner-container {
    background-image: url(../assets/hero-bg.png);
    /* height: 674px; */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    margin-top: 16px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* width: 1600px; */
    /* max-width: 1600px; */

}

#banner .banner-content {
    text-align: center;
    width: 85%;
    max-width: 1360px;
}

.color-white {
    color: #ffffff;
}

.color-green {
    color: #30B868;
}

#notes {
    display: flex;
    align-items: center;
    justify-content: center;
}





/* main style */

header {
    background-color: #ffffff;
    padding-top: 50px;
}

nav {
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    max-width: 1360px;

}

nav .menu {
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;

}

nav .menu a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: black;
}

.btn {
    background-color: #30B868;
    color: white;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    cursor: pointer;
}

button:hover {
    background-color: black;
    color: white;
}

.btn-early {
    background-color: #ffffff;
    color: #30B868;
    padding: 8px 34px;
    border-radius: 1000px;
    margin-top: 115px;
    margin-bottom: 16px;
}

#banner h1 {
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 16px;
}

/* .banner-heading{
    margin-top: 163px;
} */
#banner p {
    color: white;
    font-size: 18px;
    line-height: 24px;
    max-width: 780px;
    margin: 0 auto;
    margin-bottom: 16px;
}

.banner-btns {
    margin-bottom: 180px;
    display: flex;
    gap: 20px;
    justify-content: center;

}

#notes .notes-header {
    text-align: center;
}

.notes-header p {
    color: #627382;
    font-size: 16px;
}

.notes-header h1 {
    margin-top: 70px;
    margin-bottom: 16px;
    color: #001931;
    font-size: 48px;
    font-weight: bold;
}

/* #notes{
    max-width: 1360px;
    width: 50%;
} */

.notes-card-container {
    margin-left: 120px;
    margin-right: 120px;
}

#notes .notes-card-container {
    /* width: 85%; */
    /* max-width: 1360px; */
    display: flex;
    justify-content: space-around;
    gap: 24px;
    text-align: center;
    /* border: 1px solid red; */
    margin-top: 44px;
    /* box-sizing: border-box; */
    /* box-sizing: border-box; */

}

/* #notes .notes-card-container .notes-card {


    /* flex: 1; */
    /* box-sizing: border-box; */
    /* border: 1px solid red; */

/* } */ */

.notes-card img {
    margin-top: 70px;
    padding-left: 131px;
    padding-right: 131px;
    margin-bottom: 16px;
}

.notes-card-container h3 {
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}

.notes-card-container p {
    font-size: 16px;
    /* font-weight: 600; */
    color: #627362;
    margin-bottom: 16px;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 70px;
}



.brain-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: 0 auto;
    /* margin: 0 120px; */
    width: 85%;
    /* width: 85%; */
    /* max-width: 1360px; */


}

#brain {
    /* display: flex; */
    /* justify-content: center; */




}

.brain-container .knowledge-img {
    /* display: flex; */
    max-width: 600px;

    /* margin-top: 120px; */
}


.brain-info {
    /* display: flex;
    justify-content: center; */
    max-width: 700px;
}

.brain-info .main-info h6 {
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
}

.brain-info .main-info h2 {
    color: #001931;
    font-size: 48px;
    font-weight: bold;
    /* margin-bottom: 16px; */

}

.brain-info .main-info p {
    margin-top: 20px;
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    max-width: 500px;
}

.brain-info .sub-info {
    margin-top: 40px;
}

.brain-info .sub-info h5 {
    color: #001931;
    font-size: 16px;
    font-weight: medium;
    padding-top: 16px;
}

#challenge .challenge-container{
    /* margin-top: 120px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 120px auto;
    background-color: #f7f6f2 ;
    width: 90%;
    /* border: 1px solid red; */
    text-align: center;
}

#challenge .challenge-container .ready-msg h2{
    margin-top: 80px;
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
#challenge .challenge-container .ready-msg p{
    font-size: 16px;
    color: #627382;
    line-height: 24px;
    /* margin-bottom: 24px; */
}

#challenge .challenge-container .early-msg .btn {
    margin-top: 24px;
    margin-bottom: 16px;
}

#challenge .challenge-container .early-msg p{
    font-size: 16px;
    color: #627382;
    /* line-height: 24px; */
    margin-bottom: 80px;

}