* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* shared style */

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}




/* main style */

header{
    background-color: #ffffff;
    padding-top: 50px;
}

nav{
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    max-width: 1360px;
     
}

nav .menu {
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
   
}

nav .menu a{
     text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: black;
}

.btn {
    background-color: #30B868;
    color: white;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    cursor: pointer;
}

button:hover{
    background-color: black;
    color: white;
}